# Operating Systems
.DS_Store
.Trashes
Thumbs.db

# IDE or Editor
.idea
.vscode

# Programming language dependencies
/node_modules
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
/coverage

# production
/build
/dist

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
